.aboutContainer {
  display: flex;
  justify-content: center; 
  height: calc(100vh - 60px);      
  width: 100%;
  margin-top: 10px;    
          
  
}

.centeredContainer{
    display: grid;                              
    grid-template-columns: repeat(20, 1fr);     
    grid-template-rows: repeat(20, 1fr);
    width: 70%;
}

/* Resume Link */

.resumeLink{

    display:flex;
    justify-content: center;
    padding-top: 10px;
    grid-column: span 10 / 16;
    grid-row: span 1 / 2;

}

.resumeLink a{

    color:#0460D9;
}

.resumeLink a:active{

    color:purple;
}

.resumeLink a:visited{

    color:purple;
}

/* Picture */

.picture{

    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 4 / 6;
    grid-row: span 5 / 7;                        

}

.picture img{

    
    height:100%;
    -webkit-mask-image: radial-gradient(
                        circle, 
                        rgba(0, 0, 0, 1) 50%, 
                        rgba(0, 0, 0, 0) 65%
                        );
    mask-image: radial-gradient(
                circle, 
                rgba(0, 0, 0, 1) 50%, 
                rgba(0, 0, 0, 0) 65%
                );
    transform: scale(1.2);

}

/*Underpic */

.underPic{
    grid-column: span 4 / 6;
    grid-row: span 1 / 8 ;
    display:flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    color:White;

}

.underPic p{
    margin: 0;
    padding-top:10px;
}

.linkButt{

    height: 30px;
    border:none;
    cursor: pointer;

}


/* Brief */
.brief{
    grid-column: span 13 / 20;
    grid-row: span 5 / 7;   
}

.aboutH2{

    font-size: 30px;
    color: #69BF41;
    margin-bottom: 1%;

}


/* Skills Div*/
.skills{

    position:relative;
    grid-column: span  7 / 7;
    grid-row: span 11 / 19;

}

/* SkillButt */

.skillButtDiv{
    display:inline;
}

.skillButt{

    background-color: #DDDDDD;
    margin: 4%;
    width: 17%;
    aspect-ratio: 1 / 1;
    border: 0.2em solid #DDDDDD;
    border-radius: 15px; 
    
}

.skillButt:hover{

    border: 0.2em solid #66FF66;
    cursor: pointer;
}

.skillButt .icon-image{
    transition: transform 0.1s ease;
}

.skillButt:active .icon-image{
    transform: scale(0.8);
}

/* Popup */
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.popupContent {
    max-width: 45%;
    max-height: 90%;
    overflow-y: auto; 
    word-wrap: break-word;
    background-color: #c6d8ec;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.closeBtn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.closeBtn:hover {
    background-color:#e04b4b;
}

.popupTitle {
    
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center; 
}

.popup-list {
    list-style-type: disc; 
    padding-left: 20px; 
    text-align: left; 
}

/* Experience Div*/
.experience{

    grid-column: span 14 / 21;
    grid-row: span 12 / 19;
    padding-left: 20px;
}

.bulletPoints{
    color:white;
    margin-top: 10px;
    padding-top: 0;
}

.aboutH3{

    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0;
    margin-bottom:0;
    color: white;
}

/*  Skill Label */
.skill-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
  
.skill-name {
    flex: 2;
    font-family: monospace;
    color: #DDDDDD;
    margin-right: 10px;
}

.progress-bar {
    margin-right:20px;
    flex: 4;
    height: 10px;
    background-color: white;
    border: 1px solid white;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    height: 100%;
    background-color: #4caf50;
}

/* Interest Label */ 
.interestsWrapper {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
}

.interestContainer {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    border-radius: 5px; 
    max-width: fit-content; 
  }
  
.interestImage {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
  
.interestText {
    font-size: 16px;
}