body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    background: radial-gradient(
    circle at 50% 80%, 
    #012340 20%,  
    #051726 90%       
  );
  background-size: 100% 200%;
}

* > * {
    background: transparent;
}

/* Containers */
.homePage {
    width: 100%;
    display: flex;
    height: calc(100vh - 60px);
    
}

.ContactComp, .PictureComp, .InfoComp {  
    display: flex;
    
}

/* ContactComp */

.ContactComp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 4%;
}

.ContactComp button{

    margin: none;
    padding: none;
    width: 50px;
    height: 50px;
    border: none;

}

.GitHubButt{

    background-color: black;
    transition: background-color 0.3s;

}

.LinkedInButt{
    
    background-color: #0077B5;
    transition: background-color 0.3s;

}

.EmailButt{

    background-color: #32CD32;
    transition: background-color 0.3s;

}

.GitHubButt:hover {

    background-color: #333333;
    cursor: pointer;
}

.LinkedInButt:hover {
    
    background-color: #3399FF;
    cursor: pointer;
}

.EmailButt:hover{

    background-color: #66FF66;
    cursor: pointer;
}

.GitHubButt:active .icon-image,
.LinkedInButt:active .icon-image,
.EmailButt:active .icon-image{

    height: calc(100% - 20px);

}



.icon-image {


    height: calc(100% - 10px);
    background-color: inherit;
    transition: width 0.2s, height 0.2s;

}


/*InfoComp */
.InfoComp {
    width: 44%;
    display: flex;
    justify-content: right; 
    align-items: center;
    padding-right: 2%;
    
}

.TextContainer{
    padding-top: 20%;
    width:80%;
    height:70%;
    align-items: center;
    
}

.homeH1,.homeH2,.homeH3,.homeH6{
    color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    margin-bottom: 15px;
    
    
}

.homeH3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    display:inline;
    
}

.waveEmoji{
    display:inline-block;
    font-size: 35px;
    transform-origin: 70% 70%;
    animation: wave-animation 2.5s forwards 1;
}



@keyframes wave-animation {

    0%  { transform: rotate(  0deg ); }
    15% { transform: rotate( 14deg ); }
    30% { transform: rotate( -8deg ); }
    40% { transform: rotate( 14deg ); }
    50% { transform: rotate( -4deg ); }
    60% { transform: rotate( 10deg ); }
    70% { transform: rotate( -3deg ); }
    100%{ transform: rotate(  0deg ); }
  
}

.homeH2{

    font-size: 28px;
    font-weight:600;
}


.homeH1{
    
    margin-top: 15px;
    font-size: 50px;
    border-right: 4px solid;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 5s steps(11) infinite,
        cursor .5s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    0%  { width: 0 }
    70% { width: 11ch }
    85% { width: 11ch }
    100%{ width: 0 }
}



.homeH6{
    border-top: 2px solid #DDDDDD;
    border-image: linear-gradient(to right, #0460D9, white);
    border-image-slice: 1;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 200;
}

/*PictureComp*/
.PictureComp {
    width: 50%;
}

.PictureComp {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 30%;
  height: calc(100vh - 40px);    
  overflow: hidden;        
}

.bodyPic {
  width: 125%;
  height: auto;
}
