.navigator {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 20px;
    width: 100%;
  }

  .navigator ul {
    display: flex;
    justify-content: center;
    align-items: center; 
    list-style: none;
    padding: 0;
    margin: 0;
    width: fit-content;
  }
  
  .navigator li {
    margin: 0 25px; 
  }
  
  .navigator a {
    text-decoration: none;
    color: #888888;
    font-weight: bold;
    padding: 8px 16px;
    font-size: 25px;
    font-family: 'Fira Code', monospace;
    transition: color 0.3s ease, transform 0.3s ease; 
  }

  .navigator a:hover {
    color: white; 
  }
  
  .navigator .active a {
    color: white;
    font-weight: bold;
  }

  .bracket {
    color: #69BF41;
}

